* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1; /* TODO Solve this in HTML */
}
